body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Megrim", sans-serif;
  font-weight: 400;
  font-style: normal;
}
hamburger-menu {
  position: absolute;
  left: 20px;
  width: 30px;
  height: 30px;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 1;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 59px;

  width: 19px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;
  z-index: 1;
  background-color: #000000;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -6px;
}
.menu__btn > span::after {
  content: "";
  top: 6px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.nav_nenu {
  display: block;
  /* background: #d2c8c8; */
  position: absolute;
  width: 50px;
  height: 213px;
  left: 994px;
  top: -18px;
}
.nav_nenu ul {
  position: absolute;
  list-style-type: none;
  right: 12px;
  top: 49px;
}
.cart1 {
  height: 22px;
  width: 22px;
  position: relative;
  right: 17px;
  bottom: 19px;
}
.cart2 {
  height: 15px;
  width: 15px;
  position: relative;
  right: 14px;
  bottom: -6px;
}
.cart3 {
  height: 16px;
  width: 16px;
  position: relative;
  right: 14px;
  bottom: -30px;
}

.cart4 {
  height: 18px;
  width: 18px;
  position: relative;
  right: 16px;
  top: 55px;
}
.cart1:hover {
  background-color: rgb(219, 233, 241);
  border: 0.2px solid black;
  transform: scale(1.2);
  transition: 0.2s ease-in;
  border-radius: 50%;
  transform: scaleX(-5px);
}
.header,
.img_header-back {
  background-attachment: fixed;
  top: 14px !important;
  position: relative;
  width: 983px;
  height: 312px;
  left: 34px !important;
}

.izbrannoe_vsite {
  position: absolute;
  width: 100px;
  height: 57px;
  top: 15px;
  left: 67px;
  font-family: "Megrim", sans-serif;
  font-weight: 500;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}
.order_h2 {
  width: 335px;
  height: 35px;
  top: 17px;
  left: 370px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
}
form{
  width: 900px;
  height: 1300px;
}
.form_log_order input{
margin-bottom:40px ;
}
.form_log_order{
  width: 510px;
  position: relative;
  left: 268px;
  top: 118px;
}
.form_log_order input[type="name"]{
  position:absolute;
  left: 66px;
  top:-17px;
 width: 381px;
    height: 48px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
.form_log_order input[type="secondname"]{
  position:absolute;
  left: 66px;
  top:66px;
 width: 381px;
    height: 48px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
.form_log_order input[type="tel"]{
  position:absolute;
  left: 66px;
  top:148px;
 width: 381px;
    height: 48px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
.form_log_order input[type="text_moskva"]{
  position:absolute;
  left: 66px;
  top:231px;
 width: 381px;
    height: 47px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
.form_log_order input[type="text1"]{
  position:absolute;
  left: 66px;
  top:644px;
 width: 381px;
    height: 47px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
.form_log_order input[type="text2"]{
  position:absolute;
  left: 64px;
  top:709px;
 width: 187px;
    height: 47px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
.form_log_order input[type="text3"]{
  position:absolute;
  left: 260px;
  top:709px;
 width: 187px;
    height: 47px;
 background: rgba(231, 231, 231, 0.3);
border: 1px solid rgba(0, 0, 0, 0.4);
}
label[for="city"]{
   position: absolute;
   width: 60px;
height: 35px;
top: 242px;
    left: -55px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height:25px;
letter-spacing: 0%;

}
label[for="street1"]{
   position: absolute;
   width: 60px;
height: 35px;
top: 655px;
    left: -55px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height:25px;
letter-spacing: 0%;

}
label[for="phone"]{
   position: absolute;
   width: 60px;
height: 35px;
top: 161px;
    left: -55px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;

}
label[for="name_name"]{
   position: absolute;
   width: 60px;
height: 35px;
top: -3px;
    left: -55px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}
label[for="secondname"]{
   position: absolute;
   width: 60px;
height: 35px;
top: 79px;
    left: -55px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;

}
input::placeholder{
  position: absolute;
  left: 23px;
  top: 10px;
  font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;

}
.order_1_p{
  position: absolute;
  width: 200px;
height: 35px;
top: 367px;
    left: -58px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);

}
.order_2_p{
  position: absolute;
  width: 200px;
height: 35px;
top: 862px;
    left: -55px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 20.5px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);

}
.button_radio_form_order{
  position: absolute;
  top: 400px;
   display: grid;
  min-height: 100vh;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}
.current_items__row{
  position: absolute;
  top: 423px;
  left: 70px;
  width: 200px;
  height: 150px;
}
/* radiobuttonstart */
 .radio {
  top: 423px;
  left: 66px;
    position: relative;
  margin-bottom: 37px;
  }
  .radio_input {
    -webkit-appearance: none;/* Chrome */
      -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные кружочки */
    position: absolute;
}
 .radio_label {
    padding-left: 35px;/* отступ слева */
    font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
cursor: pointer; /* курсор рука */
}
.radio_label:before {
    content: "";
    display: block; /* не в строку */
    width: 21px; /* ширина блока */
    height: 21px;/* высота блока */
    border: 1px solid #161515;/* рамка */
    background-color: #fff; /* цвет фона */
    border-radius: 50%;/* получаем круг */
    position: absolute;/* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0;/* расстояние слева от родителя */
      z-index: 1; /* на нижнем слое */
    transition: border .1s linear;/* плавный переход для border */
}
.radio_input:checked + .radio_label:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #000000;
    border-radius: 50%;
    opacity: 1; /* полностью прозрачный */
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;/* на верхнем слое */
   /* плавный переход для opacity */
}
.radio_input:checked + .radio_label:before {
 content: "";
    display: block;
    width: 20px;
    height: 20px;
    
    border: 1px solid  #000000;

}
.radio:last-child{
margin-top: 2px;
}
.radioform1{
position: absolute;
    width: 229px;
    height: 20px;
    top: 24px;
    left: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 116%;
    letter-spacing: 0%;

}
/* radiobutonend */
/* radiobuttonstart2 */
.radio2 {
 top: 700px;
    left: 65px;
    position: relative;
    margin-bottom: 22px;
  }
  .radio_input2 {
    -webkit-appearance: none;/* Chrome */
      -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные кружочки */
    position: absolute;
}
 .radio_label2 {
  position: relative;
  width: 200px;
height: 35px;
top: 22px;
left: 1px;

    padding-left: 35px;/* отступ слева */
    font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
cursor: pointer; /* курсор рука */
}
.radio_label2:before {
    content: "";
    display: block; /* не в строку */
    width: 21px; /* ширина блока */
    height: 21px;/* высота блока */
    border: 1px solid #161515;/* рамка */
    background-color: #fff; /* цвет фона */
    border-radius: 50%;/* получаем круг */
    position: absolute;/* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0;/* расстояние слева от родителя */
      z-index: 1; /* на нижнем слое */
    transition: border .1s linear;/* плавный переход для border */
}
.radio_input2:checked + .radio_label2:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #000000;
    border-radius: 50%;
    opacity: 1; /* полностью прозрачный */
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;/* на верхнем слое */
   /* плавный переход для opacity */
   opacity: .8;
}
.radio_input2:checked + .radio_label2:before {
 content: "";
    display: block;
    width: 20px;
    height: 20px;
    
    border: 1px solid  #000000;

}
.radio:last-child{
margin-top: 2px;
}
.radioform2{
position: absolute;
    width: 229px;
    height: 20px;
    top: 48px;
    left: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 116%;
    letter-spacing: 0%;

}
.radioform3{
position: absolute;
    width: 229px;
    height: 20px;
    top: 50px;
    left: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 116%;
    letter-spacing: 0%;

}
/* radiobutonend2 */
